*{
    margin:10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

.enunciados p{
    font-weight: 700;
    font-size:0.9rem;
}

.icons1,.icons2, .icons3, .icons4, .icons5 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

/* Exercici 1 */
.icons1{
    color: rgb(118, 32, 255);
}